$padding: 6rem 6vw;
$wrap-width-large: 1200px;
$wrap-width-small: 700px;
$nav-height: 95px;

$bp-xl: 1200px;
$bp-l: 1000px;
$bp-m: 800px;
$bp-s: 600px;

.wrap {
  max-width: $wrap-width-large;
  margin: 0 auto;
  position: relative;
}

.wrap-tight {
  max-width: $wrap-width-small;
  margin: 0 auto;
  position: relative;
}

.header-pad {
  padding: 1rem 6vw;
}

section,
footer,
.padding {
  padding: $padding;
}

@media screen and (max-width: $bp-xl) {
  section,
  footer,
  .padding {
    height: unset;
    min-height: 100%;
    padding: 4rem 4vw;
  }
  .header-pad {
    padding: 1rem 4vw;
  }
}
@media screen and (max-width: $bp-m) {
  section,
  footer,
  .padding {
    padding: 4rem 2rem;
  }

  .header-pad {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: $bp-s) {
  section,
  footer,
  .padding {
    padding: 4rem 1rem;
  }
  .header-pad {
    padding: 1rem 1rem;
  }
}
