section {
  overflow: hidden;
  position: relative;
}

.bg-grey {
  background: $grey;
}
.bg-grey--bottom {
  position: relative;
  background: white;
  background: linear-gradient(0deg, $grey calc(50% + 4rem), white 50%);
  z-index: 1;
}
.bg-grey--bottom--qtr {
  position: relative;
  background: white;
  background: linear-gradient(0deg, $grey calc(25% + 4rem), white 75%);
  z-index: 1;
}
.bg-grey--top {
  background: $grey;
  background: linear-gradient(0deg, white 50%, $grey 50%);
}
.bg-grey--top--qtr {
  background: $grey;
  background: linear-gradient(0deg, white 75%, $grey 25%);
}
